<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>El Gran Postor</title>
  </head>
  <body id="cuerpo">
    <div id="header">
      <label style="margin: 15px">El Gran Postor</label>
      <div id="busqueda">
        <input
          #id (keyup)="filtroid(id.value)"
          placeholder="&#xf002; Busca por codigo de subasta"
          id="redondeado1"
          type="text"
        />
      </div>
      <div id="botones">
        <button class="sinborde">Mis ofertas</button>
        <b style="margin-top: 10px">|</b>
        <button class="sinborde" routerLink="/">Volver al inicio</button>
      </div>
      <div id="usuario">
        <i style="margin-top: 5px" class="fa-solid fa-user"></i>
        <label style="margin-left: 10px">Name</label>
      </div>
    </div>
    <div id="subasta" class="tarjeta" *ngFor="let subasta of subastas" >
      <div>
        <img
          id="foto"
          src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fsp.depositphotos.com%2Fstock-photos%2Fcoche-de-juguete.html&psig=AOvVaw3_sMj56uYGiEzNn02n1SAE&ust=1666394183676000&source=images&cd=vfe&ved=0CA0QjRxqFwoTCLjrvp747_oCFQAAAAAdAAAAABAD"
        />
      </div>
      <div>
        <label>Marca: </label>
        <label>Etiquetas: {{subasta.tags}}</label>
        <label>Precio Inicial: {{subasta.precio}}</label>
      </div>
      <div>
        <label>Estado: {{subasta.activa}}</label>
        <label>Oferta Maxima: </label>
        <label>Tiempo de la subasta: {{subasta.duracion}}</label>
      </div>
      <div id="botondetalle">
        <button style="margin-top: 30%">Detalles</button>
      </div>
      
    </div>
    <div id="crearsubasta"><button routerLink="/crear-subasta"> Crear Subasta</button></div>
  </body>
</html>
