<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>El Gran Postor</title>
    </head>
    <body id="cuerpo">
        <div id="header">
            <label style="margin: 15px;">El Gran Postor</label>
            <div id="botones">
                <button class="sinborde">Mis ofertas</button>
                <b style="margin-top: 10px;">|</b>
                <button class="sinborde">Mis subastas</button>
                <b style="margin-top: 10px;">|</b>
                <button class="sinborde">Volver al inicio</button>
            </div>
            <div id="usuario">
                <i style="margin-top: 5px;" class="fa-solid fa-user"></i>
                <label style="margin-left: 10px;">Name</label>
            </div>
        </div>
        <div id="informacion">
            <img id="foto" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fsp.depositphotos.com%2Fstock-photos%2Fcoche-de-juguete.html&psig=AOvVaw3_sMj56uYGiEzNn02n1SAE&ust=1666394183676000&source=images&cd=vfe&ved=0CA0QjRxqFwoTCLjrvp747_oCFQAAAAAdAAAAABAD">
            <div id="subinfo">
                <label>Nombre del objeto</label>
                <input id="nombre" [(ngModel)]="subasta.nombre"/>
                <label>Categoria</label>
                <select id="categoria">
                  <option value="value1">Automoviles</option>
                </select>
                <label>Tags</label>
                <input id="tags" [(ngModel)]="subasta.tags"/>
            </div>
        </div>
        <button class="sinborde">Subir Imagen</button>
        <div class="margin" >
            <label>Descripcion</label>
            <input id="descripcion" [(ngModel)]="subasta.descripcion"/>
        </div>
        <div id="tiempoduracion" class="margin">
            <div>
                <label>Duracion de la subasta: </label>
                <label>{{duracion}} h</label>
            </div>
            <div>
                <label>1h</label>
                <mat-slider [(ngModel)]="duracion" min="1" max="24" step="1" value="1" (change)="subasta.duracion = duracion" (change) ="calcularCosto()"></mat-slider>
                <label>24h</label>
            </div>
        </div>
        <div class="margin">
            <label>Valor Inicial</label>
            <input id="precio" [(ngModel)]="subasta.precio" (input)="calcularCosto()"/>
        </div>
        <div class="margin">
            <label>Costo de la subasta: </label>
            <label>{{costo}}</label>
        </div>
        <div id="botones2" class="margin">
            <div><button class="redondeado">< Cancelar</button></div>
            <div id="botoncrear"><button class="redondeado" (click)="validarEnvio()">Crear ></button></div>
        </div>
    </body>
</html>
