<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>El Gran Postor</title>
    </head>
    <body>
        <div id="header">
            <div id="busqueda">
                <input #id (keyup)="filtroid(id.value)" placeholder="&#xf002; Busca por codigo de subasta" id="redondeado1" type="text" />
            </div>
        </div>
        <div id="selector">
            <button >Automóviles</button>
            <button >Antiguedades</button>
            <button >Coleccionables</button>
            <button >Arte</button>
            <button >Viviendas</button>
            <button >Lotes</button>
            <button >Mas ></button>
        </div>
        <div id="barra">
            <input #nombre (keyup)="filtronombre(nombre.value)" id="redondeado2" placeholder="&#xf002; Busca por nombre"/>
            <input type="date"/>
            <select>
                <option selected hidden>Filtros</option>
            </select>
        </div>
        <div id="contenedorsubastas">
            <div id="subasta" class="tarjeta" *ngFor="let subasta of subastas">
                <label>{{subasta.nombre}}</label>
                <label>Precio inicial: {{subasta.precio}}</label>
                <label>Etiquetas: {{subasta.tags}}</label>
            </div>
        </div>
    </body>
</html>